
.btnSave {
	 -fx-background-color :  #4A86E8;
     -fx-graphic: url("../images/save-white.png");
}

.btnCancel {
	 -fx-background-color :   #FC7E09;
     -fx-graphic: url("../images/cancel-white.png");
}



.pane {
	 -fx-background-color :  #FC7E09;
}