
/******TABLE VIEW******** */

.table-view{
   -fx-background-color: transparent;
   -fx-border-color: #F5F5F5; 
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #F2F2FA;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #FC7E09;
    -fx-font-size: 16px;
    -fx-alignment:center;
    -fx-font-weight: 300;
    -fx-pref-height: 50;
    -fx-border-color : lightgrey;
    -fx-border-width: 0 0 0 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-row-cell{
    -fx-background-color: white;
    -fx-border-color : #F5F5F5;
    -fx-font-size:13px;
    -fx-pref-height: 70; 
    -fx-font-weight: bold;
}

.table-row-cell:odd{
    -fx-background-color: white;
    -fx-padding: 0;
}

.table-column {
  -fx-alignment:center;
}

.table-view .table-cell{
    -fx-text-fill: #777777; 
    -fx-border-width: 0;
}

.table-row-cell:selected {
   -fx-background-color: #e0ebff; 
}
.table-row-cell:selected .text {
       -fx-fill: black ;
}

.table-row-cell .text {
       -fx-fill:  #4A86E8;
}
.table-view .scroll-bar{
	-fx-background-color: #969292;
 	-fx-background-radius: 1em;
}
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
 -fx-background-radius: 2em;
}
.table-view .scroll-bar:vertical .track-background,
.table-view .scroll-bar:horizontal .track-background {
 -fx-background-color: transparent;
 -fx-background-insets: 0;
 -fx-background-radius: 2em;
}
.table-view .scroll-bar:horizontal .thumb {
 -fx-background-color: rgb(211,211,211);
 -fx-background-insets: 4 0 4 0;
 -fx-background-radius: 2em;
}
.table-view .scroll-bar:vertical .thumb {
 -fx-background-color: white;
 -fx-background-insets: 0 7 0 7;
 -fx-background-radius: 2em;
}
.table-view .scroll-bar:horizontal .thumb:hover,
.table-view .scroll-bar:vertical .thumb:hover {
 -fx-background-color: rgb(231,231,231);
}
.table-view .scroll-bar:horizontal .thumb:pressed,
.table-view .scroll-bar:vertical .thumb:pressed {
 -fx-background-color: rgb(255,255,255);
}
.table-view .scroll-bar:vertical .increment-button, .table-view .scroll-bar:vertical .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}
.table-view .scroll-bar:horizontal .increment-button, .table-view .scroll-bar:horizontal .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}
.table-view .scroll-bar:horizontal .increment-arrow {
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-background-color: rgb(211,211,211);
 -fx-padding: 0.25em;
 -fx-rotate: -90;
}
.table-view .scroll-bar:vertical .increment-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 0;
}
.table-view .scroll-bar:horizontal .decrement-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 90;
}
.table-view .scroll-bar:vertical .decrement-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: -180;
}
.table-view .scroll-bar:vertical:focused,
.table-view .scroll-bar:horizontal:focused {
 -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}

.table-row-cell:empty {
	-fx-border-width : 0px;
	-fx-background-color : white;	
}

.delete {
	-fx-graphic: url("../images/delete.png");
    -fx-cursor: hand;
    -fx-background-color :  transparent;
}

#resume {
	-fx-border-color: red, transparent, red;
    -fx-border-width: 0 0 1 0, 0 0 1 0, 0 0 1 0;
    -fx-border-insets: 0 0 1 0, 0 0 2 0, 0 0 3 0;
    -fx-cursor : hand;
    -fx-padding: 0 0 0 20;
}

#resume:empty {
	-fx-border-width : 0px;
	-fx-background-color : white;	
	-fx-cursor : none;
}
